<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="infolog" xsi:type="File" fileName="C:/_Служебная/logs/uploadextension/${shortdate}.log"/>
    <target name="errorlog" xsi:type="File" fileName="C:/_Служебная/logs/uploadextension/${shortdate}_errors.log"
            layout="${longdate} ${message} ${exception:format=tostring}${newline}"/>
  </targets>
  <rules>
    <logger name="*" level="Error" writeTo="errorlog"/>
    <logger name="*" levels="Info,Debug,Warn" writeTo="infolog"/>
  </rules>
</nlog>